<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f4e58351-6140-4205-b846-622eb75b6a26/resourceGroups/SocioleeMarking_group/providers/Microsoft.Web/sites/SocioleeMarkingApi</ResourceId>
    <ResourceGroup>SocioleeMarking_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://SocioleeMarkingApi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://SocioleeMarkingApi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$SocioleeMarkingApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>